html, body {
    box-sizing: border-box;
    margin: 0
}

body {
    display: flex;
}

#navbar {
    display: flex;
    flex-direction: column;
    border-right: 2px solid gray;
    width: 21%;
    height: 100%;
}

#navbar header {
    font-size: 1.7em;
    text-justify: left;
    padding: 0.5em 1em;
    font-family: Roboto, sans-serif;
}

#navbar a {
    text-justify: left;
    padding: 0.8em 1.7em;
    border-top: 1px solid #000;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    font-size: 1em;
    font-family: Roboto, sans-serif;
}

